@import "variables";
@import "mixins";

body
{
  margin: 0;
  font-size: 1rem;
}
.container
{
  width: 90%;
  margin: auto;
  max-width: 1000px;
}
.style-a
{
  opacity: 1;
  text-decoration: none;

  &:hover
  {
    opacity: 0.6;
  }
}
.btn
{
  padding: 18px 26px;
  margin-right: 10px;
  display: inline-block;
  border: 2px solid $white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  
  @include border-radius (3px);
  @include transition ();
}
