@import "variables";
@import "mixins";

body
{
  margin: 0;
  font-size: 1rem;
}
.container
{
  width: 90%;
  margin: auto;
  max-width: 1000px;
}
.style-a
{
  opacity: 1;
  text-decoration: none;
  @include transition ();

  &:hover
  {
    opacity: 0.6;
  }
}
.title
{
  font-family: $logo-font;
  font-size: 3rem;
  margin: 0;
}
.teaser
{
  font:
  {
    family: $logo-font;
    size: 1.3rem;
  }
  margin: 0;
  opacity: 0.6;
  @media screen and (min-width: 768px)
  {
    font-size: 1.5rem;
  }
}
.btn
{
  display: inline-block;
  padding: 18px 26px;
  margin-right: 10px;
  border: 2px solid $white;
  color: inherit;
  font-size: 1.2rem;
  text:
  {
    transform: uppercase;
    align: center;
    decoration: none;
  }
  @include border-radius (3px);
  @include transition ();

  &:hover
  {
    border: 2px solid $pink;
    color: $pink;
  }
}
.mobile-center
{
  text-align: center;

  @media screen and (min-width: 768px)
  {
    text-align: left;
  }
}
