@import "variables";

.header
{

}
.header--logo
{
  font-family: $logo-font;
  float: left;

  .header--title
  {
    margin: 0;
  }

  .header--teaser
  {
    margin-top: -10px;
    margin-left: 35px;
  }
}
.navigation
{
  float: right;

  .navigation--item
  {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;

    &:hover
    {
      opacity: 0.6;
    }
  }

}
