@import "variables";
@import "mixins";

.header
{
  height: 100px;
  margin-top: 8px;
}
.header--logo
{
  font-family: $logo-font;
  float: left;

  .header--title
  {
    margin: 0;
  }

  .header--teaser
  {
    margin-top: -10px;
    margin-left: 35px;
  }
}
.navigation
{
  font-family: $logo-font;
  text-align: center;
  position: absolute;
  top: -110px;
  height: 0;
  margin: 60px auto;
  right: 0;
  left: -60px;
  padding-top: 25px;
  letter-spacing: 2px;
  @include transition (top, .2s);

  @media screen and (min-width: 768px)
  {
    margin: auto;
    left: 0;
  }

  &.active
  {
    top: 0;
  }

  .navigation--item
  {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
    position: relative;
    @include transition ();

    &:hover
    {
      opacity: 0.6;
    }

    .style-a
    {
      color: $black;
    }
  }
}
