@import "mixins";

.nav--icon
{
  width: 40px;
  height: 25px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  float: right;
  z-index: 1;
  @include rotate (0deg);
  @include transition ();

  .nav--line
  {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    opacity: 1;
    left: 0;
    @include border-radius (9px);
    @include rotate (0deg);
    @include transition (all, .25s);

    &:nth-child(1)
    {
      top: 0px;
      @include transform-origin (left, center);
    }

    &:nth-child(2)
    {
      top: 10px;
      @include transform-origin (left, center);
    }

    &:nth-child(3) {
      top: 21px;
      @include transform-origin (left, center);
    }
  }

  &.active
  {
    .nav--line
    {
      &:nth-child(1)
      {
        top: -3px;
        left: 8px;
        @include rotate (45deg);
      }

      &:nth-child(2)
      {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3)
      {
        top: 26px;
        left: 8px;
        @include rotate (-45deg);
      }
    }
  }
}
