@mixin border-radius ($radius)
{
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin rotate ($deg)
{
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin transition ($property: all, $duration: .5s, $timing: ease-in-out, $delay: 0s)
{
  -webkit-transition: $property $duration $timing $delay;
  -moz-transition: $property $duration $timing $delay;
  -o-transition: $property $duration $timing $delay;
  transition: $property $duration $timing $delay;
}
@mixin transform-origin ($xAxis, $yAxis)
{
  -webkit-transform-origin: $xAxis $yAxis;
  -moz-transform-origin: $xAxis $yAxis;
  -o-transform-origin: $xAxis $yAxis;
  transform-origin: $xAxis $yAxis;
}
@mixin animation ($name, $duration, $timing: ease-in-out, $delay: 0s, $direction: normal)
{
  -webkit-animation: $name $duration $timing $delay $direction;
  -moz-animation: $name $duration $timing $delay $direction;
  -o-animation: $name $duration $timing $delay $direction;
  animation: $name $duration $timing $delay $direction;
}
@mixin linear-gradient ($direction, $start, $end, $image)
{
  background-image: -webkit-linear-gradient($direction, $start, $end), $image;
  background-image: -o-linear-gradient($direction, $start, $end), $image;
  background-image: -moz-linear-gradient($direction, $start, $end), $image;
  background-image: linear-gradient($direction, $start, $end), $image;
}
