@import "variables";

.parallax
{
  height: 500px;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/notebook.jpeg");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: $white;
}
.intro
{
  clear: both;
  font-family: $intro-font2;
}
.intro--title
{
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  padding: 100px 0 20px;
}
.intro--teaser
{
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.intro-paragraph
{
  font-size: 1.2rem;
}
