@import "variables";
@import "mixins";

.parallax
{
  height: 600px;
  background:
  {
    position: 100% 0%;
    repeat: no-repeat;
    attachment: fixed;
    size: cover;
  }
  @include linear-gradient (
  to bottom,
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.6),
  url("../images/intro/notebook.jpeg")
  );

  @media screen and (min-width: 505px)
  {
    height: 450px;

    @media screen and (min-width: 768px)
    {
      height: 500px;
    }
  }
}
.intro
{
  clear: both;
  font-family: $intro-font;
  color: $white;
}
.intro__title
{
  font:
  {
    size: 2.5rem;
    weight: bold;
  }
  margin: 0;
  padding: 50px 0 20px;

  @media screen and (min-width: 768px)
  {
    font-size: 4rem;
    padding-top: 100px;
  }
}
.intro__teaser
{
  font:
  {
    size: 1.5rem;
    weight: bold;
  }
  margin: 0;

  @media screen and (min-width: 768px)
  {
    font-size: 2rem;
  }
}
.intro__paragraph
{
  color: $white;
  font-size: 1.2rem;
  line-height: 1.8rem;

  @media screen and (min-width: 768px)
  {
    line-height: 2rem;
  }

  .intro__paragraph-pink
  {
    color: $pink;
  }
}
.btn__intro
{
  margin-top: 0.5rem;
  width: 80%;

  @media screen and (min-width: 505px)
  {
    width: auto;

    @media screen and (min-width: 768px)
    {
      margin-top: 2rem;
    }
  }
}
