@import "variables";
@import "mixins";

.projects
{
  margin-top: 50px;
}
.projects--overview
{
  margin: 20px 0;
  position: relative;
  // height: 538px;

  @media screen and (min-width: 768px)
  {
      margin: 50px 0;

    .project:last-child
    {
      border-bottom: none;
    }
  }
}
.project
{
  margin-bottom: 25px;
  border-bottom: 1px solid $light-grey;
  // width: 348px;
  // display: block;
  // position: absolute;
  // left: 0px;
  // top: 0px;
  // transform: translate3d(0px, 0px, 0px);
  // visibility: visible;

  @media screen and (min-width: 768px)
  {
    margin-bottom: 40px;
    border-bottom: none;
  }

  .project--image
  {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    box-shadow: 0 9px 15px $grey;
    @include border-radius (10px);

    @media screen and (min-width: 768px)
    {
      width: 50%;
      height: 300px;
    }
  }
  .project--info
  {
    display: inline-block;
    margin-bottom: 20px;

    @media screen and (min-width: 768px)
    {
      width: 45%;
      float: right;
      margin-bottom: 0;
    }
  }
  .project--title
  {
    font-family: $logo-font;
    font-weight: bold;
    font-size: 1.7rem;
    color: $pink;
    letter-spacing: 2px;
    margin-top: 0;

    @media screen and (min-width: 768px)
    {
      position: absolute;
      width: 50%;
      margin: 0 auto;
      text-align: left;
      right: -35px;
    }

    @media screen and (min-width: 1024px)
    {
      right: -48px;
    }
  }
  .project--description
  {
    font-family: $intro-font;
    font-size: 1.5rem;

    @media screen and (min-width: 768px)
    {
      margin-top: 50px;
    }

    @media screen and (min-width: 1024px)
    {
      margin-top: 70px;
    }
  }
  .btn--project
  {
    border: 2px solid $black;
    padding: 10px;
    font-size: 0.8rem;
    @include transition ();

    &:hover
    {
      border: 2px solid $pink;
    }
  }
  .project--labels {
    padding: 0;
  }
  .label
  {
    display: inline-block;
    padding: 5px;
    color: $white;
    font-size: 0.9rem;
    background-color: $pink;
    margin-bottom: 5px;
    @include border-radius (3px);
  }
}
