@import "variables";
@import "mixins";

.contact
{
  @media screen and (min-width: 768px)
  {
    padding-top: 45px;
  }
}
.contact__mail
{
  color: $pink;
  font-size: 1.3rem;
  display: inline-block;
  text-align: center;
  margin:
  {
    top: 20px;
    bottom: 40px;
  }

  @media screen and (min-width: 768px)
  {
    font-size: 1.6rem;
  }
}
