@import "variables";
@import "mixins";

.projects
{
  margin-top: 50px;
}
.projects__overview
{
  margin: 20px 0;
  position: relative;

  @media screen and (min-width: 768px)
  {
      margin: 50px 0;

    .project:last-child
    {
      border-bottom: none;
    }
  }
}
.project
{
  margin-bottom: 25px;
  border-bottom: 1px solid $light-grey;
  text-align: center;

  @media screen and (min-width: 768px)
  {
    margin-bottom: 40px;
    border-bottom: none;
  }

  .project__image
  {
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
    box-shadow: 0 9px 15px $grey;
    @include border-radius (10px);

    @media screen and (min-width: 426px)
    {
      height: 250px;

      @media screen and (min-width: 768px)
      {
        width: 50%;
        height: 300px;
      }
    }
  }
  .project__info
  {
    display: inline-block;
    margin-bottom: 20px;

    @media screen and (min-width: 768px)
    {
      width: 45%;
      float: right;
      margin-bottom: 0;
    }
  }
  .project__title
  {
    font:
    {
      family: $logo-font;
      weight: bold;
      size: 1.7rem;
    }
    color: $pink;
    letter-spacing: 2px;
    margin-top: 0;

    @media screen and (min-width: 768px)
    {
      position: absolute;
      width: 50%;
      margin: 0 auto;
      text-align: left;
      right: -35px;

      @media screen and (min-width: 1024px)
      {
        right: -48px;
      }
    }
  }
  .project__description
  {
    font:
    {
      family: $intro-font;
      size: 1.3rem;
    }
    line-height: 1.8rem;

    @media screen and (min-width: 768px)
    {
      margin-top: 50px;

      @media screen and (min-width: 1024px)
      {
        margin-top: 70px;
      }
    }
  }
  .btn__project
  {
    border: 1.5px solid $black;
    padding: 12px;
    font:
    {
      family: $intro-font;
      size: 0.8rem;
    }
    letter-spacing: 0.5px;
    @include transition ();

    &:hover
    {
      border: 1.5px solid $pink;
    }
  }
  .project__labels
  {
    padding: 0;
  }
  .label
  {
    display: inline-block;
    padding: 5px;
    color: $white;
    letter-spacing: 0.5px;
    font:
    {
      family: $intro-font;
      size: 0.9rem;
      weight: bold;
    }
    background-color: $pink;
    margin-bottom: 5px;
    @include border-radius (3px);
  }
}
