$logo-font: 'Open Sans Condensed', sans-serif;
$intro-font: 'Roboto Condensed', sans-serif;
$intro-font1: 'Open Sans', sans-serif;
$intro-font2: 'Josefin Sans', sans-serif;
$white: rgba(255, 255, 255, .9);
