$logo-font: 'Open Sans Condensed', sans-serif;
// $intro-font: 'Roboto Condensed', sans-serif;
// $intro-font1: 'Open Sans', sans-serif;
$intro-font: 'Josefin Sans', sans-serif;
$white: rgba(255, 255, 255, .9);
$pink: rgba(242, 5, 97, 1);
$black: rgba(0, 0, 0, 1);
$light-grey: rgba(243, 243, 243, 1);
$grey: rgba(136, 136, 136, 1);
