body {
  margin: 0;
  font-size: 1rem; }

.container {
  width: 90%;
  margin: auto;
  max-width: 1000px; }

.style-a {
  opacity: 1;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .style-a:hover {
    opacity: 0.6; }

.title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3rem;
  margin: 0; }

.teaser {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3rem;
  margin: 0;
  opacity: 0.6; }
  @media screen and (min-width: 768px) {
    .teaser {
      font-size: 1.5rem; } }

.btn {
  display: inline-block;
  padding: 18px 26px;
  margin-right: 10px;
  border: 2px solid white;
  color: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .btn:hover {
    border: 2px solid #f20561;
    color: #f20561; }

.mobile-center {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .mobile-center {
      text-align: left; } }

.header {
  height: 80px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .header.active {
    padding-bottom: 150px; }
    @media screen and (min-width: 768px) {
      .header.active {
        padding-bottom: 0; } }

.js-header--fixed {
  height: 70px;
  position: fixed;
  color: black;
  box-shadow: 0 2px 10px #f3f3f3;
  background-color: white; }

.header__logo {
  font-family: "Open Sans Condensed", sans-serif;
  float: left; }
  .header__logo .header__title {
    margin: 0; }
  .header__logo .header__teaser {
    margin-top: -10px;
    margin-left: 24px; }

.navigation {
  position: absolute;
  left: -60px;
  right: 0;
  top: 0;
  max-height: 0;
  margin: 60px auto;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }
  @media screen and (min-width: 768px) {
    .navigation {
      position: relative;
      margin: auto;
      overflow: visible;
      text-align: right;
      left: 0; } }
  .navigation.active {
    overflow: visible; }
  .navigation .navigation__item, .navigation .navigation__item--cv {
    position: relative;
    list-style-type: none;
    display: block;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    @media screen and (min-width: 768px) {
      .navigation .navigation__item, .navigation .navigation__item--cv {
        display: inline-block;
        margin-top: 10px; } }
    .navigation .navigation__item:hover, .navigation .navigation__item--cv:hover {
      opacity: 0.6; }
    .navigation .navigation__item .style-a, .navigation .navigation__item--cv .style-a {
      color: black; }
  .navigation .navigation__item--cv:hover {
    opacity: 1; }
  .navigation .navigation__item--cv .style-a {
    color: #f20561; }

.nav__icon {
  width: 40px;
  height: 25px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  float: right;
  z-index: 10;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .nav__icon .nav__line {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    opacity: 1;
    left: 0;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s; }
    .nav__icon .nav__line:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    .nav__icon .nav__line:nth-child(2) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    .nav__icon .nav__line:nth-child(3) {
      top: 21px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
  .nav__icon.active .nav__line:nth-child(1) {
    top: -3px;
    left: 8px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav__icon.active .nav__line:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .nav__icon.active .nav__line:nth-child(3) {
    top: 26px;
    left: 8px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  @media screen and (min-width: 768px) {
    .nav__icon {
      display: none; } }

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    top: -100px; }
  100% {
    opacity: 1;
    top: 0; } }
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    top: -100px; }
  100% {
    opacity: 1;
    top: 0; } }
@-o-keyframes slide-down {
  0% {
    opacity: 0;
    top: -100px; }
  100% {
    opacity: 1;
    top: 0; } }
@keyframes slide-down {
  0% {
    opacity: 0;
    top: -100px; }
  100% {
    opacity: 1;
    top: 0px; } }
.js-slide-down {
  -webkit-animation: slide-down 0.75s ease-in-out 0s normal;
  -moz-animation: slide-down 0.75s ease-in-out 0s normal;
  -o-animation: slide-down 0.75s ease-in-out 0s normal;
  animation: slide-down 0.75s ease-in-out 0s normal; }

@-webkit-keyframes slide-up {
  0% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: -100px; } }
@-moz-keyframes slide-up {
  0% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: -100px; } }
@-o-keyframes slide-up {
  0% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: -100px; } }
@keyframes slide-up {
  0% {
    opacity: 1;
    top: 0px; }
  100% {
    opacity: 0;
    top: -100px; } }
.js-slide-up {
  -webkit-animation: slide-up 0.75s ease-in-out 0s normal;
  -moz-animation: slide-up 0.75s ease-in-out 0s normal;
  -o-animation: slide-up 0.75s ease-in-out 0s normal;
  animation: slide-up 0.75s ease-in-out 0s normal; }

.parallax {
  height: 600px;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../images/intro/notebook.jpeg");
  background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../images/intro/notebook.jpeg");
  background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../images/intro/notebook.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../images/intro/notebook.jpeg"); }
  @media screen and (min-width: 505px) {
    .parallax {
      height: 450px; } }
  @media screen and (min-width: 505px) and (min-width: 768px) {
    .parallax {
      height: 500px; } }

.intro {
  clear: both;
  font-family: "Josefin Sans", sans-serif;
  color: white; }

.intro__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 50px 0 20px; }
  @media screen and (min-width: 768px) {
    .intro__title {
      font-size: 4rem;
      padding-top: 100px; } }

.intro__teaser {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.8rem; }
  @media screen and (min-width: 768px) {
    .intro__teaser {
      font-size: 2rem; } }

.intro__paragraph {
  color: white;
  font-size: 1.2rem;
  line-height: 1.8rem; }
  @media screen and (min-width: 768px) {
    .intro__paragraph {
      line-height: 2rem; } }
  .intro__paragraph .intro__paragraph-pink {
    color: #f20561; }

.btn__intro {
  margin-top: 0.5rem;
  width: 80%; }
  @media screen and (min-width: 505px) {
    .btn__intro {
      width: auto; } }
  @media screen and (min-width: 505px) and (min-width: 768px) {
    .btn__intro {
      margin-top: 2rem; } }

.projects {
  margin-top: 50px; }

.projects__overview {
  margin: 20px 0;
  position: relative; }
  @media screen and (min-width: 768px) {
    .projects__overview {
      margin: 50px 0; }
      .projects__overview .project:last-child {
        border-bottom: none; } }

.project {
  margin-bottom: 25px;
  border-bottom: 1px solid #f3f3f3;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .project {
      margin-bottom: 40px;
      border-bottom: none; } }
  .project .project__image {
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
    box-shadow: 0 9px 15px #888888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    @media screen and (min-width: 426px) {
      .project .project__image {
        height: 250px; } }
  @media screen and (min-width: 426px) and (min-width: 768px) {
    .project .project__image {
      width: 50%;
      height: 300px; } }

  .project .project__info {
    display: inline-block;
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .project .project__info {
        width: 45%;
        float: right;
        margin-bottom: 0; } }
  .project .project__title {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: #f20561;
    letter-spacing: 2px;
    margin-top: 0; }
    @media screen and (min-width: 768px) {
      .project .project__title {
        position: absolute;
        width: 50%;
        margin: 0 auto;
        text-align: left;
        right: -35px; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .project .project__title {
      right: -48px; } }

  .project .project__description {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem; }
    @media screen and (min-width: 768px) {
      .project .project__description {
        margin-top: 50px; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .project .project__description {
      margin-top: 70px; } }

  .project .btn__project {
    border: 1.5px solid black;
    padding: 12px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    .project .btn__project:hover {
      border: 1.5px solid #f20561; }
  .project .project__labels {
    padding: 0; }
  .project .label {
    display: inline-block;
    padding: 5px;
    color: white;
    letter-spacing: 0.5px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #f20561;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }

@media screen and (min-width: 768px) {
  .contact {
    padding-top: 45px; } }

.contact__mail {
  color: #f20561;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    .contact__mail {
      font-size: 1.6rem; } }

.employers {
  display: none; }
  @media screen and (min-width: 768px) {
    .employers {
      display: block;
      padding: 50px 0;
      text-align: center;
      border-top: 1px solid #f3f3f3;
      border-bottom: 1px solid #f3f3f3; }
      .employers .employer__logo {
        width: 225px;
        height: auto;
        display: inline-block;
        margin-right: 20px; }
      .employers .employer__logo-born {
        position: relative;
        top: 14px; } }

.footer {
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #f3f3f3;
  height: 100px; }

.footer__content {
  padding-top: 10px; }

.footer__copywrite {
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 1.5px; }

.footer__social-buttons {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0; }

.footer__social-button {
  display: inline-block;
  margin-right: 15px;
  font-size: 1.3rem;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .footer__social-button:hover {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transform-origin: 50% 70%;
    -moz-transform-origin: 50% 70%;
    -o-transform-origin: 50% 70%;
    transform-origin: 50% 70%; }
  .footer__social-button a {
    color: black; }

/*# sourceMappingURL=main.css.map */
