body {
  margin: 0;
  font-size: 1rem; }

.container {
  width: 90%;
  margin: auto;
  max-width: 1000px; }

.style-a {
  opacity: 1;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .style-a:hover {
    opacity: 0.6; }

.title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3rem;
  margin: 0; }

.teaser {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3rem;
  margin: 0;
  opacity: 0.6; }
  @media screen and (min-width: 768px) {
    .teaser {
      font-size: 1.5rem; } }

.btn {
  padding: 18px 26px;
  margin-right: 10px;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .btn:hover {
    border: 2px solid #f20561;
    color: #f20561; }

.mobile-center {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .mobile-center {
      text-align: left; } }

.header {
  height: 80px;
  width: 100%;
  padding-top: 10px;
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }

.js-header--fixed {
  position: fixed;
  height: 70px;
  color: black;
  box-shadow: 0 2px 10px #f3f3f3;
  background-color: rgba(255, 255, 255, 0.9); }

.header--logo {
  font-family: "Open Sans Condensed", sans-serif;
  float: left; }
  .header--logo .header--title {
    margin: 0; }
  .header--logo .header--teaser {
    margin-top: -10px;
    margin-left: 35px; }

.navigation {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  position: absolute;
  top: -110px;
  height: 0;
  margin: 60px auto;
  right: 0;
  left: -60px;
  padding-top: 25px;
  letter-spacing: 2px;
  -webkit-transition: top 0.2s ease-in-out 0s;
  -moz-transition: top 0.2s ease-in-out 0s;
  -o-transition: top 0.2s ease-in-out 0s;
  transition: top 0.2s ease-in-out 0s; }
  @media screen and (min-width: 768px) {
    .navigation {
      margin: auto;
      left: 0; } }
  .navigation.active {
    top: 0; }
  .navigation .navigation--item {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    .navigation .navigation--item:hover {
      opacity: 0.6; }
    .navigation .navigation--item .style-a {
      color: black; }

.nav--icon {
  width: 40px;
  height: 25px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .nav--icon .nav--line {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    opacity: 1;
    left: 0;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s; }
    .nav--icon .nav--line:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    .nav--icon .nav--line:nth-child(2) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    .nav--icon .nav--line:nth-child(3) {
      top: 21px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
  .nav--icon.active .nav--line:nth-child(1) {
    top: -3px;
    left: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav--icon.active .nav--line:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .nav--icon.active .nav--line:nth-child(3) {
    top: 26px;
    left: 8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

@keyframes slideDown {
  0% {
    opacity: 0;
    top: -100px; }
  100% {
    opacity: 1;
    top: 0; } }
.js-slide-down {
  -webkit-animation: slideDown 0.75s ease-in-out 0s normal;
  -moz-animation: slideDown 0.75s ease-in-out 0s normal;
  -o-animation: slideDown 0.75s ease-in-out 0s normal;
  animation: slideDown 0.75s ease-in-out 0s normal; }

@keyframes slideUp {
  0% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: -100px; } }
.js-slide-up {
  -webkit-animation: slideUp 0.75s ease-in-out 0s normal;
  -moz-animation: slideUp 0.75s ease-in-out 0s normal;
  -o-animation: slideUp 0.75s ease-in-out 0s normal;
  animation: slideUp 0.75s ease-in-out 0s normal; }

.parallax {
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../images/intro/notebook.jpeg");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    .parallax {
      height: 500px; } }

.intro {
  clear: both;
  font-family: "Josefin Sans", sans-serif;
  color: rgba(255, 255, 255, 0.9); }

.intro--title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 50px 0 20px; }
  @media screen and (min-width: 768px) {
    .intro--title {
      font-size: 4rem;
      padding-top: 100px; } }

.intro--teaser {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .intro--teaser {
      font-size: 2rem; } }

.intro--paragraph {
  color: white;
  font-size: 1.2rem;
  line-height: 1.8rem; }
  @media screen and (min-width: 768px) {
    .intro--paragraph {
      line-height: 2rem; } }
  .intro--paragraph .intro--paragraph-pink {
    color: #f20561; }

.btn--intro {
  margin-top: 0.5rem;
  width: 80%; }
  @media screen and (min-width: 768px) {
    .btn--intro {
      margin-top: 2rem;
      width: auto; } }

.projects {
  margin-top: 50px; }

.projects--overview {
  margin: 20px 0;
  position: relative; }
  @media screen and (min-width: 768px) {
    .projects--overview {
      margin: 50px 0; }
      .projects--overview .project:last-child {
        border-bottom: none; } }

.project {
  margin-bottom: 25px;
  border-bottom: 1px solid #f3f3f3; }
  @media screen and (min-width: 768px) {
    .project {
      margin-bottom: 40px;
      border-bottom: none; } }
  .project .project--image {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    box-shadow: 0 9px 15px #888888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    @media screen and (min-width: 768px) {
      .project .project--image {
        width: 50%;
        height: 300px; } }
  .project .project--info {
    display: inline-block;
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .project .project--info {
        width: 45%;
        float: right;
        margin-bottom: 0; } }
  .project .project--title {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: #f20561;
    letter-spacing: 2px;
    margin-top: 0; }
    @media screen and (min-width: 768px) {
      .project .project--title {
        position: absolute;
        width: 50%;
        margin: 0 auto;
        text-align: left;
        right: -35px; } }
    @media screen and (min-width: 1024px) {
      .project .project--title {
        right: -48px; } }
  .project .project--description {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem; }
    @media screen and (min-width: 768px) {
      .project .project--description {
        margin-top: 50px; } }
    @media screen and (min-width: 1024px) {
      .project .project--description {
        margin-top: 70px; } }
  .project .btn--project {
    border: 2px solid black;
    padding: 10px;
    font-size: 0.8rem;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    .project .btn--project:hover {
      border: 2px solid #f20561; }
  .project .project--labels {
    padding: 0; }
  .project .label {
    display: inline-block;
    padding: 5px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.9rem;
    background-color: #f20561;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }

.contact__mail {
  color: #f20561;
  font-size: 1.3rem;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    .contact__mail {
      font-size: 1.6rem; } }

.footer {
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #f3f3f3;
  height: 100px; }

.footer__content {
  padding-top: 10px; }

.footer__copywrite {
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 1.5px; }

.footer__social-buttons {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0; }

.footer__social-button {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.3rem; }
  .footer__social-button a {
    color: black; }

/*# sourceMappingURL=main.css.map */
